@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "thonglor-soi-4", sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
}

.thonglor-semi-bold {
  font-family: "thonglor-soi-4", sans-serif;
  font-weight: 500 !important; /* Semi-bold */
}


.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
